body{
    background-color: cornflowerblue;
    font: normal 14pt arial;
}
header{
    color: aliceblue;
    text-align: center;
    text-shadow: 0px 2px 1px rgba(71, 61, 139, 0.5);
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 2.5px 5px rgba(71, 61, 139, 0.5);
}
div{
    text-align: center;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#func{
    color: cornflowerblue;
}
#saida{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#esq{
    min-width: 180px;
    border-left: 1px dotted cornflowerblue;
    border-top: 1px dotted cornflowerblue;
    border-bottom:  1px dotted rgba(100, 148, 237, 0.508);
    padding: 30px 0 30px 30px;
    border-radius: 15px 0 0 15px;
}
#dir{
    min-width: 180px;
    border-right: 1px dotted cornflowerblue;
    border-top: 1px dotted cornflowerblue;
    border-bottom:  1px dotted cornflowerblue;
    padding: 30px 30px 30px 0;
    border-radius: 0 15px 15px 0;
}
.medidas{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    border-bottom: 1px dashed cornflowerblue;
    font-family: monospace;
}
span{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    border-bottom: 1px dashed cornflowerblue;
    font-family: monospace;
}
#botao{
    background-color: #ccd9f2;
    font-style: normal;
}
input{
    padding: 10px;
    border-radius: 15px;
    margin: 12px;
    border: 0;
    box-shadow: 2px 3px 3px rgba(71, 61, 139, 0.25);
    text-align: center;
    font-size: large;
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
    font-size: small;
}