body{
    background-color: cornflowerblue;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: aliceblue;
    text-align: center;
    text-shadow: 0px 2px 1px rgba(71, 61, 139, 0.5);
}
section, main{
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 2.5px 5px rgba(71, 61, 139, 0.5);
}
#entrada{
    display: flex;    
    justify-content: space-around;
    padding-bottom: 25px;
}
div{
    text-align: center;
}
button{
    border: none;
    box-shadow: 0px 2.5px 5px rgba(71, 61, 139, 0.5);
    padding: 25px;
    min-width: 100px;
    border-radius: 15px;
    background-color: #ccd9f277;
    font-weight: bold;
}
button:hover{
    background-color: #c4d7f8a6;
    box-shadow: 0px 2.5px 5px rgba(11, 5, 48, 0.556);
}
button:active{
    background-color: #c4d7f877;
    box-shadow: 0px 2.5px 5px rgba(11, 5, 48, 0.529);
}
/* .botao{
    padding: 25px;
    min-width: 200px;
    border-radius: 15px;
    background-color: #ccd9f277;
    font-weight: bold;
} */
.botaopeq{
    padding: 25px;
    border-radius: 15px;
    background-color: #ccd9f277;
    font-weight: bold;

}
#botao{
    padding: 0 50px;
    border-radius: 15px;
    background-color: #ccd9f277;
}
#sparent{
    display: grid;
    justify-content: center;
}
#schild{
    display: grid;
    justify-items: center;
}
table{
    margin: 15px;
    min-width: 400px;
    text-align: left;
    border-radius: 15px;
    background-color: #ccd9f2;
    padding: 20px;
    box-shadow: 2px 3px 3px rgba(71, 61, 139, 0.336);
}
th{
    padding: 3px 0;
    text-align: center;
    border-bottom: 3px solid cornflowerblue;
}
td{
    padding: 3px 0;
    border-bottom: 1px dotted cornflowerblue;
}
input{
    padding: 20px;
    border-radius: 50px;
    margin: 15px;
    border: 0;
    box-shadow: 2px 3px 3px rgba(71, 61, 139, 0.25);
    font-size: large;
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
    font-size: small;
}
.marca{
    background-color: lightblue;
    padding: 1px 3px;
    border-radius: 3px;
}